<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="1.0.0" package="com.companyname.forms_geolocation">
  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-feature android:name="android.hardware.location.gps" />
  <!-- For Android API level 21 or higher (5.0 +) -->
  <application android:label="Geolocation" android:icon="@drawable/icon"></application>
</manifest>